{# 
//if($_SESSION['payment_page'] == 'edit_info') {
if($_GET['q'] == 'edit') {

$title="Zahlung - &Auml;nderung";

include('_header_not_in.php');

/*
$event_id = 666671;
$passed_from = 'upgrade';
$quantity = 2;
$level = 4;
$_SESSION['anrede'] = 'Herr';
$_SESSION['name'] = 'Ulrich';
$_SESSION['surname'] = 'Moller';
$_SESSION['email'] = 'bartholos@web.de';
$_SESSION['street'] = 'Jenzschstrasse 13';
$_SESSION['plz'] = '99867';
$_SESSION['city'] = 'Gotha';
$_SESSION['country'] = 'Deutschland';
$_SESSION['payment_option'] = 'sofort';
*/

# event info 
$product_info = $general->getProduct($event_id);
$event_date = $general->getDate($product_info->start, $product_info->end);

$spots_available = $product_info->spots-$product_info->spots_sold;

if ($passed_from === 'seminar') {
$total = $quantity*$product_info->price;
$membership = 'Teilnehmer';
}
if ($passed_from === 'projekt' || $passed_from === 'upgrade') {
switch($level) {
case 3: $total = 150; $membership ='Teilnehmer'; break;
case 4: $total = 300; $membership ='Scholar'; break;
case 5: $total = 600; $membership ='Partner'; break;
case 6: $total = 1200; $membership ='Beirat'; break;
case 7: $total = 2400; $membership ='Patron'; break;
default: $total = 75; $membership ='Gast'; break;
}
}
?> #}

<div class="content">
<div class="content-area">
<div class="row-group">
<div class="row row__body">
<div class="col-8">
<p class="h1">Angaben &auml;ndern</p>
<p class="h1__sub">Hier haben Sie die M&ouml;glichkeit Ihre Angaben zu korrigieren</p>
</div>
</div>
</div>
<div class="row-group">
<p class="h3">Produkt</p>

<form method="post" action="/zahlung/?g=summary">


{# seminar #}
{% if product.type == 'seminar' %}


<div class="row row__head">
<div class="col-1">Menge</div>
<div class="col-5">&nbsp;</div>
<div class="col-1">Spendenbetrag</div>
<div class="col-1">Gesamtspende</div>
</div>
<div class="row row__body">
<div class="col-1">
<select id="quantity" name="product[quantity]" onchange="changePrice(this.value,'{{product.price}}')">

{% if product.quantity == 1 %}
    {% set selected1 = ' selected' %}
{% elseif product.quantity == 2 %}
    {% set selected2 = ' selected' %}
{% elseif product.quantity == 3 %}
    {% set selected3 = ' selected' %}
{% elseif product.quantity == 4  %}
    {% set selected4 = ' selected' %}
{% elseif product.quantity == 5 %}
    {% set selected5 = ' selected' %}
{% endif %}

{% if product.spots_avail == 0 %}
    <option value="0" disabled>0</option>
{% endif %}
{% if product.spots_avail >= 1 %}
    <option value="1" {{selected1}}>1</option>
{% endif %}
{% if product.spots_avail >= 2 %}
    <option value="2" {{selected2}}>2</option>
{% endif %}
{% if product.spots_avail >= 3 %}
    <option value="3" {{selected3}}>3</option>
{% endif %}
{% if product.spots_avail >= 4 %}
    <option value="4" {{selected4}}>4</option>
{% endif %}
{% if product.spots_avail >= 5 %}
    <option value="5" {{selected5}}>5</option>
{% endif %}
</select>
</div>
<div class="col-5">
<div class="col__content">
{{product.title}}<br>
{{product.date}}
</div>
</div>
<div class="col-1">{{product.price}}</div>
<div class="col-1"><span id="change">{{product.total}}</span>&euro;</div>
</div>
<div class="row row__body">
<div class="col-1">1</div>
<div class="col-5">{{donation.name}}</div>
<div class="col-1">0</div>
<div class="col-1">0</div>
</div>
<div class="row row__foot">
<div class="col-6">&nbsp;</div>
<div class="col-1">Gesamt:</div>
<div class="col-1"><span id="change2">{{product.total}}</span>&euro;</div>
</div>		

{% endif %}{# seminar #} 


{# projekt #}
{% if product.type == 'projekt' %}			


<div class="row row__head">
<div class="col-1">Menge</div>
<div class="col-5">&nbsp;</div>
<div class="col-1">Spendenbetrag</div>
<div class="col-1">Gesamtspende</div>
</div>
<div class="row row__body">
<div class="col-1">1</div>
<div class="col-5">
<div class="col__content">
{{product.type|capitalize}} {{product.title}}
</div>
</div>
<div class="col-1">
<select id="quantity" name="product[price]" onchange="changePrice(this.value,'1')">

{% if product.total == 75 %}
    {% set selected75 = ' selected' %}
{% elseif product.total == 150 %}
    {% set selected150 = ' selected' %}
{% elseif product.total == 300 %}
    {% set selected300 = ' selected' %}
{% elseif product.total == 600 %}
    {% set selected600 = ' selected' %}
{% elseif product.total == 1200 %}
    {% set selected1200 = ' selected' %}
{% elseif product.total == 2400 %}
    {% set selected2400 = ' selected' %}
{% endif %}

{% if product.spots_avail == 0 %}
    <option value="0" disabled>0</option>
{% endif %}
{% if product.spots_avail >= 150 %}
    <option value="150" {{selected150}}>150</option>
{% endif %}
{% if product.spots_avail >= 300 %}
    <option value="300" {{selected300}}>300</option>
{% endif %}
{% if product.spots_avail >= 600 %}
    <option value="600" {{selected600}}>600</option>
{% endif %}
{% if product.spots_avail >= 1200 %}
    <option value="1200" {{selected1200}}>1200</option>
{% endif %}
{% if product.spots_avail >= 2400 %}
    <option value="2400" {{selected2400}}>2400</option>
{% endif %}
</select>
</div>
<div class="col-1"><span id="change">{{product.total}}</span>&euro;</div>
</div>
<div class="row row__body">
<div class="col-1">1</div>
<div class="col-5">{{donation.name}}</div>
<div class="col-1">0</div>
<div class="col-1">0</div>
</div>
<div class="row row__foot">
<div class="col-6">&nbsp;</div>
<div class="col-1">Gesamt:</div>
<div class="col-1"><span id="change2">{{product.total}}</span>&euro;</div>
</div>

{% endif %}{# projekt #} 	


{# upgrade #}
{% if product.type == 'upgrade' %}


<div class="row row__head">
<div class="col-1">Menge</div>
<div class="col-5">&nbsp;</div>
<div class="col-1">Spendenbetrag</div>
<div class="col-1">Gesamtspende</div>
</div>
<div class="row row__body">
<div class="col-1">1</div>
<div class="col-5">
<div class="col__content">
Unterst&uuml;tzungsstufe
<select id="quantity" name="product[price]" onchange="changePrice(this.value,'1')">

{% if product.price == 75 %}
	{% set selected75 = ' selected' %}
{% elseif product.price == 150 %}
	{% set selected150 = ' selected' %}
{% elseif product.price == 300 %}
	{% set selected300 = ' selected' %}
{% elseif product.price == 600 %}
	{% set selected600 = ' selected' %}
{% elseif product.price == 1200 %}
	{% set selected1200 = ' selected' %}
{% elseif product.price == 2400 %}
	{% set selected2400 = ' selected' %}
{% endif %}

<option value="75" {{selected75}}> Gast (6,25&euro;/Monat)</option>
<option value="150" {{selected150}}> Teilnehmer (12,50&euro;/Monat)</option>
<option value="300" {{selected300}}> Scholar (25&euro;/Monat)</option>
<option value="600" {{selected600}}> Partner (50&euro;/Monat)</option>
<option value="1200" {{selected1200}}> Beirat (100&euro;/Monat)</option>
<option value="2400" {{selected2400}}> Patron (200&euro;/Monat)</option>


{# <option value="upgrade_2" {{selected75}}> Gast (6,25&euro;/Monat)</option>
<option value="upgrade_3" {{selected150}}> Teilnehmer (12,50&euro;/Monat)</option>
<option value="upgrade_4" {{selected300}}> Scholar (25&euro;/Monat)</option>
<option value="upgrade_5" {{selected600}}> Partner (50&euro;/Monat)</option>
<option value="upgrade_6" {{selected1200}}> Beirat (100&euro;/Monat)</option>
<option value="upgrade_7" {{selected2400}}> Patron (200&euro;/Monat)</option> #}

 
</select>
</div>
</div>
<div class="col-1"><span id="change">{{product.price}}</span></div>
<div class="col-1"><span id="change2">{{product.price}}</span></div>
</div>
<div class="row row__foot">
<div class="col-6">&nbsp;</div>
<div class="col-1">Gesamt:</div>
<div class="col-1"><span id="change3">{{product.price}}</span></div>
</div>

{% endif %}{# upgrade #} 

</div>
<div class="row-group">
<div class="row row__body">
<div class="col-4">
<p class="h3">Pers&ouml;nliche Informationen</p>
</div>
<div class="col-4">
<p class="h3">Zahlung</p>
</div> 
<div class="row row__body">
<div class="col-4">
<div class="col__content profil unprofil">
    
{% if profile.user_logged_in != "1" %}
<div id="ajax_email_exists_error"></div>
<label for="user_email">E-Mail</label>
<input id="ajax_email_exists" type="email" class="profil_inputfield" name="profile[user_email]" value="{{profile.user_email}}" required>
<label for="user_email2">E-Mail Wiederholen</label>
<input id="ajax_email_exists2" type="email" class="profil_inputfield" name="profile[user_email]" value="{{profile.user_email}}" required>
<div id="ajax_email_same_error"></div> 
{% else %}
<input type="hidden" name="profile[user_email]" value="{{profile.user_email}}">
{% endif %}

<label for="user_anrede">Anrede</label>   
<select class="profil_select" name="profile[user_anrede]" required>
<option value="Herr"{% if profile.user_anrede == "Herr" %}selected{% endif %}>Herr</option>
<option value="Frau"{% if profile.user_anrede == "Frau" %}selected{% endif %}>Frau</option>
</select><br>

<label for="user_first_name">Vorname</label> 
<input type="text" class="profil_inputfield" name="profile[user_first_name]" value="{{profile.user_first_name}}" required><br>

<label for="user_surname">Nachname</label> 
<input type="text" class="profil_inputfield" name="profile[user_surname]" value="{{profile.user_surname}}" required><br> 

<label for="user_company">Firma</label>
<input class="profil_inputfield" id="user_company" type="text" name="profile[user_company]" value="{{profile.user_company}}"><br>

<label for="user_telefon">Telefon</label>
<input class="profil_inputfield" id="user_telefon" type="tel"  name="profile[user_telefon]" value="{{profile.user_telefon}}"><br>

<label for="user_street">Stra&szlig;e</label>
<input type="text" class="profil_inputfield" name="profile[user_street]" value="{{profile.user_street}}" required><br>

<label for="user_plz">PLZ</label> 
<input type="text" class="profil_inputfield" name="profile[user_plz]" value="{{profile.user_plz}}" required><br> 

<label for="user_city">Ort</label>
<input type="text" class="profil_inputfield" name="profile[user_city]" value="{{profile.user_city}}" required><br> 

<label for="user_country">Land</label>
<input type="text" class="profil_inputfield" name="profile[user_country]" value="{{profile.user_country}}"><br> 
</div>
</div>
<div class="col-4">

<input type="radio" name="profile[payment_option]" value="paypal"{% if profile.payment_option == "paypal" %}checked{% endif %} required>PayPal<br>
<input type="radio" name="profile[payment_option]" value="sofort" {% if profile.payment_option == "sofort" %}checked{% endif %}>Bank&uuml;berweisung per SOFORT		
</div>
</div>
</div>
<div class="row-group">
<div class="row row__body">
<div class="col-8">
<div class="col__content">

<input type="submit" id="weiter_button" class="profil_inputbutton" name="edit_form_submit" value="&Auml;anderung &uuml;bernehmen">
</form>
</div>
</div>				
</div>
</div>
</div>		
</div>				