

{# form for user data #}
<div class="profil">
<form method="post" action="/zahlung/?g=summary" name="the_form">

  {# email #}
  <div id="ajax_email_exists_error"></div>
  <label for="user_email">E-Mail</label>
    <input id="ajax_email_exists" type="email" class="profil_inputfield" name="profile[user_email]" value="{{profile.user_email}}" required>
   <label for="user_email2">E-Mail wiederhohlen</label>
   <input id="ajax_email_exists2" type="email" class="profil_inputfield" name="profile[user_email]" value="" required>
   <div id="ajax_email_same_error"></div>
   
  {# title  #} 
  <label for="user_anrede">Anrede</label> 
    <select id="user_anrede" name="profile[user_anrede]" required>
    <option value="Herr" {% if profile.user_anrede == 'Herr' %}selected{% endif %}>Herr</option>
    <option value="Frau" {% if profile.user_anrede == 'Frau' %}selected{% endif %}>Frau</option>
    </select><br>

  {# first name #}
  <label for="user_first_name">Vorname</label>    
    <input class="profil_inputfield" id="user_first_name" type="text" name="profile[user_first_name]" value="{{profile.user_first_name}}" required><br>

  {# surname #}
  <label for="user_surname">Nachname</label>
    <input class="profil_inputfield" id="user_surname" type="text" name="profile[user_surname]" value="{{profile.user_surname}}" required><br>

  {# company #}  
  <label for="user_company">Firma</label>
    <input class="profil_inputfield" id="user_company" type="text" name="profile[user_company]" value="{{profile.user_company}}"><br>

  {# telephone #}
  <label for="user_telefon">Telefon</label>
    <input class="profil_inputfield" id="user_telefon" type="tel"  name="profile[user_telefon]" value="{{profile.user_telefon}}"><br>

  {# street #}
  <label for="user_street">Stra&szlig;e</label>
    <input class="profil_inputfield" id="user_street" type="text" name="profile[user_street]" value="{{profile.user_street}}" required><br>

  {# postcode #}
  <label for="user_plz">PLZ</label> 
  <input class="profil_inputfield" id="user_plz" type="text" name="profile[user_plz]" value="{{profile.user_plz}}" required><br>

  {# city #}
  <label for="user_city">Ort</label>
  <input class="profil_inputfield" id="user_city" type="text" name="profile[user_city]" value="{{profile.user_city}}" required><br>

  {# country #}
  <label for="user_country">Land</label>
  <select id="user_country" name="profile[user_country]" required>            
  {% include 'countrylist.html.twig' %}
  </select><br>

  {# select payment method #}
  <div class="h-extra-space--top">
  <p>W&auml;hlen Sie Ihre gew&uuml;nschte Zahlungsmethode:</p>            
  <input type="radio" class="profil_radio" name="profile[payment_option]" value="sofort" checked required><span class="profil_radio_label">Bank&uuml;berweisung per SOFORT</span><br>
  <input type="radio" class="profil_radio" name="profile[payment_option]" value="paypal"><span class="profil_radio_label">PayPal</span><br>   
  </div>

  <input type="submit" id="weiter_button" class="profil_inputbutton" name="the_form_submit" value="Weiter">

</form>
</div><!-- <div class="profil"> -->

{#       	//$passed_from = Where was the form included?
      	//$pass_to = To what function should the form be send?
        # $pass_to - name of the form submit value
      	# working example in /test/
      	
      	//profile[] = personal information, name, e-mail, adress
      	//product[] = product information, betrag, quantity
      	  	
      	if (isset($_SESSION['user_id']) && isset($_SESSION['user_email'])) {
      		$result_row = $login->getUserData(trim($_SESSION['user_email']));

			$anrede = trim($result_row->Anrede);
       		$vorname = trim($result_row->Vorname);
        	$nachname = trim($result_row->Nachname);
        	$land = trim($resulttesttwig_row->Land);
        	$ort = trim($result_row->Ort);
        	$strasse = trim($result_row->Strasse);
        	$plz = trim($result_row->PLZ);
		} #}


        <!-- end of user profile -->
      
      <!-- payment methods  -->
 
	  <!-- end payment options -->

	  <!-- hidden fields -->
	  <!-- <input type="hidden" name="amount" value="20"> -->

      <!-- general -->
  	        	  
{#   <?php
  #swich first_reg
  switch ($passed_from){
	  case 'open_salon':
	  		$first_reg = 'opensalon_'.$event_id;
			break;
		case 'seminar':
			$first_reg = 'seminar_'.$event_id;
			break;
		case 'projekt':
			$first_reg = 'projekt_'.$event_id;
			break;
		case 'upgrade':
			$first_reg = 'upgrade_buerger';
			echo '<input type="hidden" name="profile[level]" value="'.$level['level'].'">';
			break;
		default:
			$first_reg = 'unbekannt';
  	  }
		 ?>
		 
		 <input type="hidden" name="profile[first_reg]" value="<?=$first_reg?>">
      
<?php	
	 if (isset($passed_from)) {
?>
 <input type="hidden" name="passed_from" value="<?=$passed_from?>">
	 <input type="hidden" name="product[event_id]" value="<?=$_SESSION['product']['event_id']?>">
	 <input type="hidden" name="product[quantity]" value="<?=$_SESSION['product']['quantity']?>">
	 <input type="hidden" name="profile[level]" value="<?=$level?>">

 #}

		